@page "/"
@using TravelApp.Data.Models
@inject SearchedParams findParam
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>


<EditForm Model="@findParam" OnValidSubmit="@Search">
<input type="date" @bind-value="@findParam.DateRequested" />Appointment Date
<p>
    <input type="time" @bind-value="@findParam.TimeRequested"/>Appointment Time
</p>
<div></div>
<p>
<input type="text" @bind-value="@findParam.FromLocationAddress"/>From Address
</p>
<div></div>
<p>
<input type="text" @bind-value="@findParam.FromLocationCity"/>From City
</p>
<div></div>
<p>
<input type="text" @bind-value="@findParam.FromLocationAreaCode"/>From Zip Code
</p>
<div></div>
<p>
<input type="text" @bind-value="@findParam.ToLocationAddress" /> To Address
</p>
<div></div>
<p>
<input type="text" @bind-value="@findParam.ToLocationCity"/>To City
</p>
<div></div>
<p>
<input type="text" @bind-value="@findParam.ToLocationAreaCode"/>To Zip Code
</p>
<div></div>
<button class="btn btn-primary" @onclick="Search">Click me</button>
</EditForm>

@code{
    private void Search()
    {

    }
}