@page "/"
@using TravelApp.Data.Models
@inject SearchedParams findParam
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>


<EditForm Model="@findParam" OnValidSubmit="@Search">
<input type="date" @bind-value="@findParam.DateRequested" />
<p>
    <input type="time" @bind-value="@findParam.TimeRequested"/>
</p>
<div></div>
<p>
<input type="text" @bind-value="@findParam.FromLocation"/>
</p>
<div></div>
<p>
    <input type="text"  @bind-value="@findParam.ToLocation"/>
</p>
<button class="btn btn-primary" @onclick="Search">Click me</button>
</EditForm>

@code{
    private void Search()
    {

    }
}